{{extend 'layout.html'}}

<h2>Search</h2>

{{=BEAUTIFY(form)}}

{{if results != None:}}

  {{if len(results) > 0:}}
    {{ for note in results: }}

      <h3><!--Course: {{=note.course.dept}}{{=note.course.number}}, Section: {{=note.course.section}}<br>-->
        From {{=note.start_date}} to {{=note.end_date}}</h3>
        Submitted By: {{=note.created_by}} <br>
        Last Modified: {{=note.modified_on}} <br>
        Download: {{=A("Download", _href=URL(r=request, f='download', args=[note.notes]))}} <br> <br>

    {{pass}}

  {{else:}}
    <h3>No notes were found that matched your search, please try again.</h3>
  {{ pass }}

{{pass}}
