{{extend 'layout.html'}}

<h1>The search page</h1>

{{=BEAUTIFY(form)}}

{{if results != None:}}

  {{if len(results) > 0:}}
    {{ for note in results: }}

      <h3><!--Course: {{=row.course.dept}}{{=row.course.number}}, Section: {{=row.course.section}}<br>-->
        From {{=row.start_date}} to {{=row.end_date}}</h3>
        Submitted By: {{=row.created_by}} <br>
        Last Modified: {{=row.modified_on}} <br>
        Download: {{=A("Download", _href=URL(r=request, f='download', args=[row.notes]))}} <br> <br>

    {{pass}}

  {{else:}}
    <h3>No notes were found that matched your search, please try again.</h3>
  {{ pass }}

{{pass}}
